.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
}
#middle{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  text-decoration: none;
  color: white;
  margin-left: -50%;
}
button{
  background-color: teal;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  padding: 5px 20px;
}